body {
  background-color: #053177;
}

h1 {
 color: gray;
 font-size: 72px;
 font-family: comic sans ms;
 text-align: center;
}

p {
  color: white;
  font-size: 25px;
  line-height: 35px;
}

a {
  color: orange;
  text-decoration: none;
}

em {
  font-size: 28px;
}

strong {
  font-size: 28px;
}

li {
  color: pink;
  font-size: 30px;
  font-weight: bolder;
}
